<% provide(:title, "About") %>
<h3>About Us</h3>


<h4 align="center">Our History</h4>	

<p>
	Our passion for providing customers excellent service and great prices has always been a top priority for Vintage Vinyls. We began
	selling vinyls long before our online store. It began in the 1990's in a small shop in the Upstate of South Carolina. We have prided 
	ourselves in having a returning client base since then. We hope to continue our legacy of excelent service and great prices through our
	online store, just as we did in our small shop.
</p>

<br>

<h4 align="center">Why Choose Vintage Vinyls Online Record Store?</h4>	

<p> We provide a small selection of vintage vinyl records every month. We keep a small selection because unlike other stores, we only provide 
	high quality vinyl records. There are many older vinyls around, but not all of them are in great shape. We only sell vinyls in great, like
	new condition. If you ever have a problem with a vinyl that you purchase from us, we offer a money back gaurntee, and we will replace 
	your purchase with another vinyl.Upon request we will try to help you find exactly what you are looking for at a competitive price. 

</p>
	