
<div class="center jumbotron">
    
<h3>Welcome to the Vintage Vinyls</h3>
<p><center>

Vintage Vinyls has a constantly rotating selection of records. We strive to only bring you quality records, which takes time 
to find. Check back weekly for updates and new arriavals! Sometimes we also have vintage sound systems for sale, as we find them.
Check our Shop for any new arriavals of sound systems. If you are interested in buying a record from our selection, please email 
us using the email link found on the Contact page.

</center></p>

<center>
	<%= link_to image_tag("All Albums.jpg", alt: "Vinyls"),
            'https://c.slashgear.com/wp-content/uploads/2015/12/' %>
</center>	
