<div class="center jumbotron">
    
<h3>Welcome to the Online Record Store</h3>
<p><center>This online record store has many vinyls of different genres 
                            suit your needs</center></p>

<center>
	<%= link_to image_tag("All Albums.jpg", alt: "Vinyls"),
            'https://c.slashgear.com/wp-content/uploads/2015/12/' %>
</center>	
	

	



