<% provide(:title, "Shop") %>
<h3>Shop</h3>
	
<p> We provide a small selection of vintage vinyl records.</p>
	
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

	
<h4>Current Sales:</h4>

<p><ol>
  <li>Carly Simon</li>
  <li>Cher</li>
  <li>Frank Sinatra</li>
  <li>Lana del Ray</li>
  <li>Pink Floyd</li>
  <li>Punks Not Dead</li>
  <li>Sade</li>
  <li>Toto</li>
  <li>Zeppelin</li>
</ol></p>
	
<h4 align="center">Other Products</h4>
	
<center><p> We also have a vintige sound system and record player for sale this month.</p></center>
	
<center>
  <%= link_to image_tag("System.jpg", alt: "Vinyls"),
            'https://c.slashgear.com/wp-content/uploads/2015/12/' %>
</center>

