<% provide(:title, "Shop") %>
<h2>Shop</h2>
	
<p> We have a large selection of records. We have new records of todays music,
	and older records of all types.</p>
	
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

	
<h3>Top Sellers:</h3>

<p><ol>
  <li>Blink 182</li>
  <li>Pink Floyd</li>
  <li>Nirvana</li>
</ol></p>
	
<h2 align="center">TurnTables</h2>
	
<p style="color:darkred"> We also have a small selection of record players to choose from.</p>
	
<center><img src="images/RecordPlayer.jpg" alt="RecordPlayer" style="float:center" width="225"/></center>
<p> One of our vintage record players.</p>
