@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #625750;
	padding-top: 60px;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  color: #96897f;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  font-weight: normal;
  color: #96897f;
  text-align: center;
}

h3 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin-top: 150px;
  text-align: center;
  font-weight: normal;
  color: #96897f;
  text-align: center;
}

p{
    color: #c6bcb6;
}

img{
    border-radius: 25px;
    border: 6px solid #625750;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}